.location-description{
  margin-top: 50px;
}

.location{
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

.day{
  margin-top:-15px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.icon{
  margin-left:20px;
}

.fa.fa-cloud-sun, icon{
  color:orange;
  font-size: 36px;
}
.description{
  margin-top:-15px;
  font-size: 14px;
  text-align: center;
}

.temperature{
  font-size: 26px;
  color:blue;
  margin-top:10px;
}

.weather-data{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.icon-temperature{
  align-self: center;
}

.wind-humidity-pressure{
  justify-content: flex-end;
  font-size: 16px;
  align-self: center;
}

.table{
  border: 1px solid black;
  margin-top: 60px;
}

.place-hour{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top:10px
}

.time{
  margin-top:-10px;
}

table{
  width: 100%;
}

td{
  text-align: center;
}

.low{
  margin-left:10px;
}

.high{

  margin-right:10px;
}

.weather-by-day{
  text-align: center;
}

.main{
  width: 80%;
  height: 100%;
  background-color: whitesmoke;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.title{
  margin-top:30px;
  color: red;
  text-align: center;
}

.form{
  align-self: center;
  margin-top: 40px;
}

.five-day-weather{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}

.day-weather-div{
  text-decoration: 'none';
  background-color: #fcfcfc;
  border: 1px solid #e9e9e9;
  border-radius: 1px;
  margin: 0;
  padding: 20px;
  opacity: 0.6;
}
.day-weather-div:hover{
  opacity:1;
}


